@font-face {
    font-family: 'fredoka';
    src: url('~@/assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TiltNeon';
    src: url('~@/assets/fonts/TiltNeon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'fabulous';
    src: url('~@/assets/fonts/NT Fabulous.otf') format('opentype');
}